scripts/Output
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
updater
*$py.class
venv2
.idea
vc_redist*.exe

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
#*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
../docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea/workspace.xml
/test-data/twin4-final.cif
*.vrf
*.chk
*.def
*.ckf
*.fcf
*.spf
test-data/platon.out
test-data/twin4-finalcif.cif
test-data/4060314-finalcif.cif
test-data/p21c-finalcif.cif
multitable.docx
*.2fcf
*.fcf6
*.hkl
*.ins
*.lst
*.res
*.hist
*.metacif
*.odb
*.phil
test-data/shelXlesaves/SAVEHIST
~$ltitable.docx
test-data/sad-final-finalcif.cif
test-data/tables.docx
cifreport.html
test-data/1000007-finalcif.cif
test-data/1923_Aminoff, G._Ni As_P 63.m m c_Nickel arsenide-finalcif.cif
test-data/406-0308-finalcif.cif
test-data/DK_zucker2_0m-finalcif.cif
test-data/406äöü0310-finalcif.cif
test-data/report_DK_zucker2_0m.docx
test-data/DK_ML7-66-final-finalcif.cif
test-data/checkcif-DK_ML7-66-final-finalcif.pdf
test-data/checkcif-DK_zucker2_0m-finalcif.pdf
test-data/ntd106c-P-1-final-finalcif.cif
test-data/ntd106c-P-1-final.gif
test-data/ntd106c-P-1-final-finalcif.gif
test-data/report_ntd106c-P-1-final.docx
test-data/checkcif-ntd106c-P-1-final-finalcif.pdf
test-data/406-0308-finalcif.gif
test-data/DK_zucker2_0m-finalcif.gif
test-data/report_406-0308-finalcif.docx
test-data/report_DK_zucker2_0m-finalcif.docx
test-data/1000006-finalcif.cif
test-data/1000006-finalcif.gif
finalcif-crash.txt
test-data/report_sad-final-finalcif.docx
test-data/sad-final-finalcif.gif
test-data/4060308-finalcif.cif
test-data/4060308-finalcif.gif
test-data/report_4060308-finalcif.docx
tables.docx
test.cif

test-data/checkcif-4060314-finalcif.pdf
test-data/report_4060314-finalcif.docx
test-data/DK_zucker2_0m-finalcif.zip
test-data/DK_zucker2_0m-finalcif-1.zip
displaymol/jsmol.htm
test-data/DK_ML7-66-final-finalcif-1.zip
test-data/DK_ML7-66-final-finalcif-2.zip
test-data/DK_ML7-66-final-finalcif.gif
test-data/DK_ML7-66-final-finalcif.zip
test-data/report_DK_ML7-66-final-finalcif.docx
gui/finalcif_gui.ui.autosave
test-data/report_ntd106c-P-1-final-finalcif.docx
test-data/report_p21c-finalcif.docx
test-data/p21c-finalcif.zip
generated_doc.docx
1979688.bin
.DS_Store
tests/examples/work/cu_BruecknerJK_153F40_0m-finalcif.gif
tests/examples/work/cu_BruecknerJK_153F40_0m-finalcif.cif
tests/examples/work/checkcif-cu_BruecknerJK_153F40_0m-finalcif.html
tests/examples/work/checkcif-cu_BruecknerJK_153F40_0m-finalcif.pdf
tests/examples/work/checkpdf-cu_BruecknerJK_153F40_0m-finalcif.html
update-finalcif.exe
tests/examples/work/report_cu_BruecknerJK_153F40_0m-finalcif.docx
tests/examples/work/cu_BruecknerJK_153F40_0m-finalcif.zip
testing.html
testing_xml.html
testing2.py
finalcif-setup.exe
tests/examples/1979688-finalcif.cif
myfile.pdf
docs
finalcif/gui/finalcif_gui.ui.autosave
test-data/1000007-multi-finalcif.cif
test.docx
tests/examples/work/cu_BruecknerJK_153F40_0m-finalcif_changes.cif
tests/examples/work/platon.out
test-data/DK_Zucker2_0m-finalcif_changes.cif
olex2
.vs
x64
test-data/1000007-multi-multitable.docx
test-data/report_1000007-multi-finalcif.docx
test.html

work/~$test.docx
tests/examples/work/report_cu_BruecknerJK_153F40_0m-finalcif_pm.docx
tests/examples/multi-multitable.docx
tests/examples/report_multi-finalcif.docx
tests/examples/work/cu_BruecknerJK_153F40_0m.lxt
finalcif_keys_order.cif
