wheel
certifi
chardet
gemmi>=0.7.5
html2text
lxml>=6.0.2
pefile
pybind11
pyside6
python-docx
QtAwesome
QtPy
requests
urllib3
docxtpl[subdoc]>=0.20.2
shelxfile
crossrefapi
numpy
pyenchant

# Upgrade gemmi to Git master:
# pip install https://github.com/project-gemmi/gemmi/archive/master.zip --upgrade
