<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Structure Tables</title>
</head>
<body>
{% if structure_figure %}
    <img alt="" src="{{structure_figure}}">
{%endif%}

<h1>Structure Tables</h1>
<p>
    A {{crystal_colour}}, {{crystal_shape}} shaped crystal was mounted on a {{ cif._diffrn_measurement_specimen_support }} with perfluoroether
    oil. The sample was crystallized {{crystallization_method}}. Data for {{cif.block.name}} were collected from a shock-cooled single crystal at {{cif._diffrn_ambient_temperature}} K
    on {{diffr_type|inv_article}} {{diffr_type}} {{diffr_device}} with {{diffr_source|inv_article}} {{diffr_source}} using a {{monochromator}} as monochromator and
    {{detector|inv_article}} {{detector}} detector. The diffractometer {% if lowtemp_dev %}was equipped with {{lowtemp_dev|inv_article}} {{lowtemp_dev}} low temperature device and
    {%endif%}used {{radiation}} radiation {%if wavelength%}(λ = {{wavelength}} Å){%endif%}. All data were integrated with {{integration_progr}} and a {{abstype}} absorption correction
    using {{abs_details}} was applied. [1,2] The structure was solved by {{solution_method}} methods with {{solution_program}} and refined by full-matrix least-squares methods against
    F2 using {{refinement_prog}}.[3,4] All non-hydrogen atoms were refined with anisotropic displacement parameters. {%if cif.hydrogen_atoms_present%}The hydrogen atoms were refined
    isotropically on calculated positions using a riding model with their Uiso values constrained to 1.5 times the Ueq of their pivot atoms for terminal sp3 carbon atoms and 1.2 times
    for all other carbon atoms. {%endif%}Crystallographic data for the structures reported in this paper have been deposited with the Cambridge Crystallographic Data Centre.[5] CCDC
    {%if cif._database_code_depnum_ccdc_archive%}{{cif._database_code_depnum_ccdc_archive}}{%else%}??????{%endif%} contain the supplementary crystallographic data for this paper. These
    data can be obtained free of charge from The Cambridge Crystallographic Data Centre via www.ccdc.cam.ac.uk/structures. This report and the CIF file were generated using
    FinalCif.[6]
</p>

<h2>
    Table 1. Crystal data and structure refinement for {{ cif.block.name }}
</h2>
<table>
    <tr>
        <td>CCDC number</td>
        <td>{{ cif._database_code_depnum_ccdc_archive }}</td>
    </tr>
    <tr>
        <td>Empirical formula</td>
        <td>{{ sum_formula }}</td>
    </tr>
    Formula weight {{cif._chemical_formula_weight }}
    Temperature [K] {{cif._diffrn_ambient_temperature}}
    Crystal system {{ cif._space_group_crystal_system }}
    Space group (number) {{space_group}} {{ itnum }}
    a [Å] {{cif._cell_length_a }}
    b [Å] {{cif._cell_length_b }}
    c [Å] {{cif._cell_length_c }}
    α [°] {{cif._cell_angle_alpha }}
    β [°] {{cif._cell_angle_beta }}
    γ [°] {{cif._cell_angle_gamma }}
    Volume [Å3] {{cif._cell_volume}}
    Z {{cif._cell_formula_units_Z}}
    ρcalc [gcm−3] {{cif._exptl_crystal_density_diffrn}}
    μ [mm−1] {{cif._exptl_absorpt_coefficient_mu}}
    F(000) {{cif._exptl_crystal_F_000}}
    Crystal size [mm3] {{crystal_size}}
    Crystal colour {{crystal_colour}}
    Crystal shape {{crystal_shape }}
    Radiation {{radiation}}{%if wavelength%} (λ={{wavelength}} Å){%endif%}
    2θ range [°] {{theta_range}}
    Index ranges {{index_ranges}}
    Reflections collected {{cif._diffrn_reflns_number}}
    Independent reflections {{indepentent_refl}}
    Rint = {{r_int}}
    Rsigma = {{r_sigma}}
    Completeness{%if theta_full%} to
    θ = {{theta_full}}°{%endif%} {{completeness}}
    Data / Restraints / Parameters {{data}} / {{restraints}} / {{parameters}}
    Goodness-of-fit on F2 {{ goof }}
    Final R indexes
    [I≥2σ(I)] R1 = {{ls_R_factor_gt}}
    wR2 = {{ls_wR_factor_gt}}
    Final R indexes
    [all data] R1 = {{ls_R_factor_all}}
    wR2 = {{ls_wR_factor_ref}}
    Largest peak/hole [eÅ−3] {{diff_dens_max}}/{{diff_dens_min}}
    {% if exti %}
    Extinction coefficient {{exti}}
    {% endif %}
    {% if flack_x %}
    Flack X parameter {{flack_x}}
    {% endif %}
</table>
{% if refinement_details %}Refinement details for {{ cif.block.name }}
{{ refinement_details }}
{% endif %}{% if atomic_coordinates %} Table 2. Atomic coordinates and Ueq [Å2] for {{ cif.block.name }}
Atom x y z Ueq
{% for atom in atomic_coordinates %}
{{ atom.label }} {{ atom.x }} {{ atom.y }} {{ atom.z }} {{ atom.u_eq }}
{% endfor %}
Ueq is defined as 1/3 of the trace of the orthogonalized Uij tensor.
{% endif %}{% if displacement_parameters %} Table 3. Anisotropic displacement parameters (Å2) for {{ cif.block.name }}. The anisotropic displacement factor exponent takes the form:
−2π2[ h2(a*)2U11 + k2(b*)2U22 + … + 2hka*b*U12 ]
Atom U11 U22 U33 U23 U13 U12
{% for atom in displacement_parameters %}
{{ atom.label }} {{ atom.U11 }} {{ atom.U22 }} {{ atom.U33 }} {{ atom.U23 }} {{ atom.U13 }} {{ atom.U12 }}
{% endfor %}
{% endif %}{% if options.bonds_table %}{%if bonds%}
Table 4. Bond lengths and angles for {{ cif.block.name }}
Atom–Atom Length [Å]
{% for b in bonds %}
{{b.atoms}} {{b.dist}}
{% endfor %}

Atom–Atom–Atom Angle [°]
{% for a in angles %}
{{a.atoms}} {{a.angle}}
{% endfor %}
{% if options.without_h %}Bonds and angles to hydrogen atoms were omitted.{% endif %}{%if ba_symminfo%}
{{ ba_symminfo}}{%endif%}{%endif%}
{% endif %}{%if torsions%}
Table 5. Torsion angles for {{ cif.block.name }}

Atom–Atom–Atom–Atom Torsion Angle [°]
{% for t in torsions %}
{{t.atoms}} {{t.angle}}
{% endfor %}
{% if options.without_h %}Bonds and angles to hydrogen atoms were omitted.{% endif %}{%if torsion_symminfo%}
{{ torsion_symminfo}}{%endif%}{%endif%}


{% if options.hydrogen_bonds and hydrogen_bonds %}
Table 6. Hydrogen bonds for {{ cif.block.name }}
D–H⋯A [Å] d(D–H) [Å] d(H⋯A) [Å] d(D⋯A) [Å] <(DHA) [°]
{% for h in hydrogen_bonds %}
{{h.atoms}} {{h.dist_dh}} {{h.dist_ha}} {{h.dist_da}} {{h.angle_dha}}
{% endfor %}
{%if hydrogen_symminfo%}{{hydrogen_symminfo}}{%endif%}{%endif%}
Bibliography
[1] {{literature.integration.richtext}}
[2] {{literature.absorption.richtext}}
[3] {{literature.solution.richtext}}
[4] {{literature.refinement.richtext}}
[5] {{literature.ccdc.richtext}}
[6] {{literature.finalcif.richtext}}


</body>
</html>