# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Windows application


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Print workspace path
        run: echo $GITHUB_WORKSPACE && pwd && echo ${{github.ref}}

      - name: Install dependencies
        run: |
          pip install pytest
          pip install -r requirements.txt
          pip install -e .
          
      - name: Test with unittest
        run: |
          python -m unittest

